$font-primary: 'M PLUS 1p', sans-serif;
$font-secondary: 'Roboto', sans-serif;
$brown: #707070;
$header-color: #FFF7EF;
$sidebar-color: #F2EDE9;
$footer-color: #9D8670;

html{
    font-size: 10px;
}

body {
    font-family: $font-primary;
    color: $brown;
    text-align: center;
}

a{
    text-decoration: none;
    color: $brown;
    display: block;
    &:hover, &:active, &:visited {
        color: $brown;
    }
  }


.l-header {
    background-color: $header-color;
    font-family: $font-secondary;
    width: 37.5rem;
    height: 21.7rem;
    &__title {
        font-size: 3.5rem;
    }
    &__searchform {
        font-size: 2rem;
    }
}

.l-footer {
    background-color: $footer-color;
    color: white;
    width: 37.5rem;
    height: 21.7rem;
}

.p-main__image {
    position: relative;
    img {
        width: 37.5rem;
        height: 28.5rem;
        object-fit: cover;
    }
    p {
        position: absolute;
        color: white;
        top: 0;
        left: 0;
    }
}

.c-main__contents__wrap {
    display: flex;
    flex-direction: column;
}


.c-main__contents__top {
    position: relative;
    margin: 2rem, 2rem, 1rem, 2rem;
    &__image {
        width: 33.5rem;
        height: 64.2rem;
    }
    &__text {
        position: absolute;
        color: white;
        top: 0;
        left: 0;
    }
}

.c-main__contents__bottom {
    position: relative;
    margin: 1rem, 2rem, 2rem, 2rem;
    &__image {
        width: 33.5rem;
        height: 64.2rem;
    }
    &__text {
        position: absolute;
        color: white;
        top: 0;
        left: 0;
    }
}

.c-map {
    position: relative;

    &__image {
        width: 37.5rem;
        height: 69.1rem;
    }
    &__text {
        position: absolute;
        width: 37.5rem;
        height: 64.9rem;
        color: white;
        top: 0;
        left: 0;
    }
}

.p-sidebar {
    background-color: $sidebar-color;
    width: 37.5rem;
    li {
        list-style-type: none;
    }
}
