@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  margin: auto;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.2em;
  line-height: 1;
  text-decoration: none;
  color: #707070;
  min-width: 320px;
}

a {
  text-decoration: none;
  display: block;
}

a:hover, a:active, a:link, a:visited {
  color: #707070;
}

.l-header {
  background-color: #FFF7EF;
  width: 100%;
  height: 21.7rem;
  margin: 0 auto;
  text-align: center;
}

.l-header__title {
  font-size: 3.5rem;
}

.l-header__search {
  display: block;
  font-size: 2rem;
  padding-top: 4rem;
}

.c-menu {
  font-size: 2rem;
  font-weight: bold;
  text-align: right;
  padding: 2rem 2rem 0 0;
}

.p-sidebar {
  background-color: #F2EDE9;
  width: 37.5rem;
  display: none;
}

.p-sidebar li {
  list-style-type: none;
}

.c-mv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  width: 100%;
  min-height: 27.5rem;
  background-image: url(../img/mv_sp.png);
  background-position: 50% 50%;
  /* 画像中央を起点に表示 */
  background-size: cover;
  /* 縦横比を維持しながら全体を覆うように表示 */
}

@media screen and (min-width: 375px) {
  .c-mv {
    background-image: url(../img/main.jpg);
  }
}

.c-mv__title {
  font-size: 3rem;
  font-weight: lighter;
  color: white;
  margin-left: 5%;
}

.p-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-main__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
  width: 33.5rem;
  height: 64rem;
}

.p-main__item-title {
  position: absolute;
  color: white;
  font-size: 3.5rem;
  margin: 1rem;
}

.p-main__item-img {
  max-width: 100%;
  max-height: 100%;
}

.p-main__item-wrap {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem;
  bottom: 0;
}

.p-main__item-wrap-top, .p-main__item-wrap-bottom {
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  margin-top: 1rem;
  font-family: "M+ Type-2 (general-j) Light", sans-serif;
  color: #3C2A10;
}

.p-main__item-wrap-texts-copy {
  font-size: 2rem;
  padding: 1.5rem;
}

.p-main__item-wrap-texts-p {
  font-size: 1.5rem;
  padding: 0 1.5rem 1.5rem 1.5rem;
  line-height: 1.5;
}

.p-access {
  position: relative;
  width: 100%;
  height: 70rem;
  background-image: url("../img/access_sp.png");
  background-position: 50% 50%;
  /* 画像中央を起点に表示 */
  background-size: cover;
  /* 縦横比を維持しながら全体を覆うように表示 */
  background-color: rgba(0, 0, 0, 0.7);
}

.p-access__background {
  width: 100%;
  height: 42rem;
  background-color: black;
  opacity: 0.5;
}

.p-access__texts {
  position: absolute;
  width: 100%;
  padding: 3rem;
  font-family: "M+ Type-2 (general-j) Light", sans-serif;
  color: white;
  top: 0;
}

.p-access__texts-title {
  font-size: 3rem;
}

.p-access__texts-title:after {
  content: "";
  display: block;
  width: 7.5rem;
  height: 0.2rem;
  background-color: white;
  margin: 2rem 0 2rem 0;
}

.p-access__texts-p {
  font-size: 1.4rem;
  line-height: 2;
}

.l-footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  height: 15rem;
  background-color: #9D8670;
  font-family: "M+ Type-2 (general-j) Light", sans-serif;
  color: white;
}

.l-footer__nav a {
  display: inline-block;
  font-size: 1.4rem;
  color: white;
}

.l-footer__nav a:first-child:after {
  content: "|";
  margin-left: 0.7rem;
}

.l-footer__cr {
  padding-top: 1rem;
}
/*# sourceMappingURL=stylesheet.css.map */