$font-primary: 'Roboto', sans-serif;
$font-secondary: 'M+ Type-2 (general-j) Light', sans-serif;
$brown: #707070;
$black: #3C2A10;
$header-color: #FFF7EF;
$sidebar-color: #F2EDE9;
$footer-color: #9D8670;

$breakpoints: (
  'tablet': 'screen and (min-width: 375px)',
  'pc': 'screen and (min-width: 960px)',
) !default;

@mixin mq($breakpoint: sp) {
    @media #{map-get($breakpoints, $breakpoint)} {
      @content;
    }
  }

html{
    font-size: 62.5%;
}

body {
    margin: auto;
    font-family: $font-primary;
    letter-spacing: 0.2em;
    line-height: 1;
    text-decoration: none;
    color: $brown;
    min-width : 320px;
}

a{
    text-decoration: none;
    display: block;
    &:hover, &:active, &:link, &:visited {
        color: $brown;
    }
}


.l-header {
    background-color: $header-color;
    width: 100%;
    height: 21.7rem;
    margin: 0 auto;
    text-align: center;

    &__title {
        font-size: 3.5rem;
    }

    &__search {
        display: block;
        font-size: 2rem;
        padding-top: 4rem;
    }
    
}

.c-menu {
    font-size: 2rem;
    font-weight: bold;
    text-align: right;
    padding: 2rem 2rem 0 0;
}

.p-sidebar {
    background-color: $sidebar-color;
    width: 37.5rem;
    li {
        list-style-type: none;
    }
    display: none;
}

.c-mv {
    display: flex;
    align-items: center;
    max-width: 100%;
    width: 100%;
    min-height: 27.5rem;
    background-image: url(../img/mv_sp.png);
    background-position: 50% 50%; /* 画像中央を起点に表示 */
    background-size: cover; /* 縦横比を維持しながら全体を覆うように表示 */

    @include mq('tablet') {
        background-image: url(../img/main.jpg);
    }
    
    &__title {
        font-size: 3rem;
        font-weight: lighter;
        color: white;
        margin-left: 5%;
    }
}

.p-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    &__item {
        position: relative;
        display: flex;
        margin: 1rem;
        width: 33.5rem;
        height: 64rem;

        &-title {
            position: absolute;
            color: white;
            font-size: 3.5rem;
            margin: 1rem;
        }

        &-img {
            max-width: 100%;
            max-height: 100%;
        }

        &-wrap {
            position: absolute;
            width: 100%;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            padding: 1rem;
            bottom: 0;
            
            &-top, &-bottom {
                background-color: rgba($color: white, $alpha: 0.7);
                width: 100%;
                margin-top: 1rem;
                font-family: $font-secondary;
                color: $black;
            }

            &-texts-copy {
                font-size: 2rem;
                padding: 1.5rem;
            }

            &-texts-p {
                font-size: 1.5rem;
                padding: 0 1.5rem 1.5rem 1.5rem;
                line-height: 1.5;
            }

        }

    }
}

.p-access {
    position: relative;
    width: 100%;
    height: 70rem;
    background-image: url("../img/access_sp.png");
    background-position: 50% 50%; /* 画像中央を起点に表示 */
    background-size: cover; /* 縦横比を維持しながら全体を覆うように表示 */
    background-color: rgba($color: black, $alpha: 0.7);

    &__background {
        width: 100%;
        height: 42rem;
        background-color: black;
        opacity: 0.5;
    }

    &__texts {
        position: absolute;
        width: 100%;
        padding: 3rem;
        font-family: $font-secondary;
        color: white;
        top: 0;

        &-title {
            font-size: 3rem;
            &:after {
                content: "";
                display: block;
                width: 7.5rem;
                height: 0.2rem;
                background-color: white;
                margin: 2rem 0 2rem 0;
            }
        }

        &-p {
            font-size: 1.4rem;
            line-height: 2;
        }
    }
}

.l-footer {
    &__wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        margin: 0 auto;
        height: 15rem;
        background-color: $footer-color;
        font-family: $font-secondary;
        color: white;
    }
    &__nav {
        a {
            display: inline-block;
            font-size: 1.4rem;
            color: white;
        }
        a:first-child:after {
            content: "|";
            margin-left: 0.7rem;
        }
    }
    &__cr {
        padding-top: 1rem;
    }
}